[submodule "cpr"]
	path = lib/cpr
	url = https://github.com/libcpr/cpr
[submodule "requests"]
	path = lib/requests
	url = https://github.com/psf/requests
[submodule "http"]
	path = lib/http
	url = https://github.com/mfichman/http
[submodule "cppcoro"]
	path = lib/cppcoro
	url = https://github.com/lewissbaker/cppcoro
[submodule "lib/restclient-cpp"]
	path = lib/restclient-cpp
	url = https://github.com/mrtazz/restclient-cpp.git
