[submodule "cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr
[submodule "requests"]
	path = external/requests
	url = https://github.com/psf/requests
[submodule "http"]
	path = external/http
	url = https://github.com/mfichman/http